
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: gray;
  font-size: calc(5px + 2vmin);
}

.header {
  display: flex; 
  flex: 1 1;
  flex-direction: row; 
  background-color: gray;
  top: 0px;
  position: fixed;
  width: 100%;
}

.col-sym {
  width: 5em;
  text-align: left;
}

.col-data {
  width: 4em;
  text-align: right;
}

.col-pc {
  width: 5em;
  text-align: right;
}

.col-details{
    max-width: 0;
    overflow: visible;
    white-space: nowrap;
}

.ticker-container {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  width: 100%;
  margin-top: 22px;
}

.ticker-row {
  background: lightblue;
}

.ticker-row:nth-of-type(odd) { background: lightcyan; }
