.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: grey;
  font-size: calc(5px + 2vmin);
}

.table-container {
  display:block;
}

.header {
  background-color: gray;
  top: 0px;
  position: fixed;
  width: 100%;
}

.col-sym {
  width: 6em;
  text-align: left;
}

.col-data {
  min-width: calc((100vw - 6em - 30px) / 4);
  text-align: right;
}

.hdr-item {
  min-width: calc(((100vw - 6em) / 4) - 6px);
  text-align: center;
}

table  tbody{
  margin-top: 33px;
}

tbody tr:nth-child(odd) {
  background: lightblue;
} 

table tbody tr {
  background: lightcyan; 
  width: 100%;
}

