.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: gray;
  font-size: calc(5px + 2vmin);
}

table {
  border-collapse: collapse;
  width: 100%;
}


thead {
  background-color: slategray;
  top: 0px;
  position: fixed;
  height: 1.6em;
}

th {
  width: calc(((100vw - 6em) / 4));
  text-align: right;
  padding-right: 5px;
}

th:first-child {
  width: 5em;
  text-align: left;
  padding-left: 2px;
}

/* insert padding above the body so the header will not obscure the first row of the body */
tbody:before {
  line-height: 1.5em; 
  content:"\t"; 
}

tbody tr {
  background: lightcyan; 
}

tbody tr:nth-child(odd) {
  background: lightblue;
} 

td {
  width: calc((100vw - 5em) / 4);
  text-align: right;
  vertical-align: top;
} 

td[data-extra="true"]{
  height: 4em;
  max-width: 0;
  overflow: visible;
  white-space: nowrap;
}

td:first-child {
  width: 5em;
  text-align: left;
  padding-left: 2px;
  vertical-align: middle;
}  

.extraData {
  text-align: left;
}

